$header-height: 60px;
$toolbar-height: 34px;

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  cursor: default;

  .workspace {
    .header {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: $header-height;
      background-color: #3E90AC;
      color: #fff;

      .document-info {
        float: left;
        margin: 10px 20px;

        .document-name {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 4px;
        }
        .instance-info {
          font-size: 12px;
        }
      }
      .user-info {
        float: right;
        border-left: 1px solid #fff;
        min-height: $header-height;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .user-name {
          font-size: 14px;
        }
      }
    }

    .toolbar {
      position: fixed;
      top: $header-height;
      right: 0;
      left: 0;
      height: $toolbar-height;
      background-color: #f5f5f5;
      border-bottom: 1px solid #313131;
      white-space: nowrap;
      overflow: hidden;

      .readonly-message {
        font-size: 14px;
        margin: 6px 20px;
      }
      .buttons {
        padding: 5px 20px;

        button {
          border: 1px solid #313131;
          padding: 3px 8px;
          font-size: 14px;
        }
      }
    }

    .document {
      position: fixed;
      top: $header-height + $toolbar-height;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;

      .debug {
        white-space: pre;
        font-family: monospace;
        margin: 20px;
      }
    }
  }
}

